.postsTall {
    margin-bottom: 100px;
}

.postsTall__heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.postsTall__cards {
  display: flex;
  justify-content: space-between;
  padding-left: 135px;
  padding-right: 135px;
  gap: 10px;
}
.postTall__card {
  max-width: 270px;
  background-color: $color-dr-white;
  &:hover {
    background-color: $color-white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
}

.postsTall__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.94%;
  /* identical to box height, or 24px */
  text-align: center;
  margin-bottom: 70px;
}

.postTall__card-txt {
  min-height: 170px;
  padding: 25px;
}

.postTall__card-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 75px;
}

.postTall__card-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.postTall__card-link {
  color: $color-black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1.125rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1050px) {
  .postsTall__cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
  }
}
